*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    width: 100%;
    height: 610px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width: 800px;
    height: 550px;
    background-color: rgb(249, 246, 246);
    position: relative;
}

.head-part{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}

.head-part ul{
    list-style: none;
    display: flex;
}
.head-part ul li{
    padding: 20px;

}

.head-part ul li button{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 30px;
}

.hero-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
margin-block: 40px;}

.img-box{
    width: 300px;
    height: 350px;
    border-radius: 20px;
    background-color: yellowgreen;
}

.text-part p{
border: 1px solid gray;
background-color: yellowgreen;
color: white;
width: 80px;
font-size: 12px;
text-align: center;
}

.text-part h1{
    font-size: 50px;
    padding-top: 20px;
}

.text-part h5{
    font-size: 20px;
    padding-top: 10px;
}

.text-part button{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 30px;
    background: transparent;
    margin-top: 20px;
}

.text-part h6{
    margin-top: 150px;
}

.text-part a{
    text-decoration: none;
    color: black;
    padding-left: 10px;
}

.tab-one{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    background-image: url("./assets/image-1.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 100px;
    right: 60px;
    z-index: 1;

}

.tab-two{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    background-image: url("./assets/43a757f0-6494-11eb-ae9a-9a88d8a5050c.cf.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 200px;
    right: 180px;

}